@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: darken(grey, 20%);
}

.wrap-all {
  background-color: white;
}

.outer-main {
  width: 100%;
}

.main-content {
  margin: 1em auto;
}

.outer-footer {
  width: 100%;
  background-color: darken(grey, 20%);
  min-height: 20vh;
}

.inner-main-content {
  width: 80%;
  margin: 0 auto;
}

.main-content:nth-child(even) {
  background-color: darken(white, 10%);
}

.testar {
  width: 400px;
}

.popUpOpen {
  overflow: hidden;
}

.modal-content {
  width: auto;

  & img {
    max-height: 80vh;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Merienda", cursive;
}

@media only screen and(max-width: 800px) {
  .inner-main-content {
    width: 95%;
  }
}

@media only screen and(max-width: 600px) {
  .lock {
    height: 100%;
    overflow: hidden;
  }
}
