$mainColor0: #bd5600; // Main Primary color */
$mainColor1: #f69544;
$mainColor2: #ed720c;
$mainColor3: #9a4600;
$mainColor4: #6f3200;

$accentBlue0: #0d307f; // Main Secondary color (1) */
$accentBlue1: #3a5aa5;
$accentBlue2: #18419f;
$accentBlue3: #082567;
$accentBlue4: #04194b;

$accentGreen0: #009700; // Main Secondary color (2) */
$accentGreen1: #37c537;
$accentGreen2: #0abd0a;
$accentGreen3: #007b00;
$accentGreen4: #005900;
