.inner-navbar {
  display: flex;
  justify-content: flex-end;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item {
  transform: translateY(-50%);
  margin: 0 1em;
  margin-top: var(--centertop);
  font-size: 1.5em;
  display: flex;
  font-weight: bolder;
  color: #ffff;
}

.active {
  color: black;
}

.active::before {
  content: "";
  display: block;
  background-size: cover;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 0.4em;
  left: -0.9em;
  height: 45px;
  width: 45px;
  background-image: url("/style/img/paw.svg");
}

.dropdown {
  position: absolute;
  margin: 0;
  width: 300px;
  transform: translateX(-20%);
  top: 55px;
  overflow: hidden;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: rgba($color: black, $alpha: 0.2);
  color: white;
  padding: 0.2em;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: 100ms;
  border-radius: var(--radius);
  overflow: hidden;
  padding: 0 0.5em;
}

.menu-item:hover {
  background-color: rgba($color: black, $alpha: 0.5);
}

.responsive-nav {
  display: none;
  font-size: 2.5em;
  height: 100%;
  align-self: center;
  position: absolute;
  right: 0.5em;
  top: 25%;
  & svg {
    color: white;
  }
}

.white {
  color: white;
}

.responsive-dropdown {
  margin: 10px;
}

.align-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.responsive-links {
  width: 100%;
  margin-top: 5rem;
  font-size: 2rem;
}

.outer-responsive-dropdown {
  background-color: #4d4d4d;
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  transition-duration: var(--speed);

  &.show {
    right: 0;
  }
}

@keyframes fromRight {
  from {
    right: -50%;
  }
  to {
    right: 0;
  }
}

@media only screen and(max-width: 600px) {
  .navbar {
    display: none;
  }

  .responsive-nav {
    display: block;
  }

  .outer-navbar {
    position: fixed;
  }
}
